In [19]:
import pandas as  pd
import numpy as np
from surprise import Reader, Dataset, SVD
from surprise.model_selection import train_test_split, cross_validate

In [20]:
movies = pd.read_csv('../dataset/TMDB_movie_dataset_v11.csv')
ratings = pd.read_csv('../dataset/ratings_with_tmdbid.csv')

In [21]:
print('movies columns:', movies.columns)
print('ratings columns:', ratings.columns)

movies columns: Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')
ratings columns: Index(['userId', 'movieId', 'tmdbId', 'rating', 'timestamp'], dtype='object')

In [22]:
ratings.head(5)

   userId  movieId   tmdbId  rating  timestamp
0       1       17   4584.0     4.0  944249077
1       1       25    451.0     1.0  944250228
2       1       29    902.0     2.0  943230976
3       1       30  37557.0     5.0  944249077
4       1       32     63.0     5.0  943228858